/* CSS Reset + Base Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

input{
  padding: 20px 50px;
  margin: 30px 50px;

  font-size: xx-large;
}