.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 600px;
  height: 300px;
  background-color: rgb(255, 192, 245);
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

input {
  width: 200px;
  padding: 8px;
  border: 1px solid black;
}
